{% extends "base.html" %}

{% block content %}
    <h2>소셜 계정으로 시작하기</h2>
    <ul>
        <li>
            <a title="Naver" href="/accounts/naver/login/?process=login">Naver</a>
        </li>
        <li>
            <a title="Google" href="/accounts/google/login/?process=login">Google</a>
        </li>
    </ul>

    <script>
        (function() {
            const ua = navigator.userAgent || navigator.vendor || window.opera;
            const isInApp = (
                ua.indexOf("KAKAOTALK") > -1 ||
                ua.indexOf("Instagram") > -1 ||
                (ua.indexOf("FBAN") > -1) || 
                (ua.indexOf("FBAV") > -1)
            );

            if (isInApp) {
                const currentURL = window.location.href;
                const cleanURL = currentURL.replace(/^https?:\/\//, '');
                
                // iOS
                if (/iPad|iPhone|iPod/.test(ua)) {
                    // 외부 브라우저 강제 실행
                    window.location.href = `x-web-search://?${cleanURL}`;
                    
                    // 실패시 Safari 시도
                    setTimeout(function() {
                        window.location.replace(`safari-https://${cleanURL}`);
                    }, 1000);
                }
                // Android
                else {
                    // 시스템 브라우저 강제 실행
                    window.location.href = `intent://${cleanURL}#Intent;scheme=https;package=com.android.browser;S.browser_fallback_url=https://${cleanURL};end`;
                }
                
                // 모든 시도 실패시 마지막 시도
                setTimeout(function() {
                    window.open('https://' + cleanURL, '_system');
                }, 2000);
            }
        })();
    </script>
{% endblock %}