{% extends "base.html" %}

{% block content %}
    <h2>소셜 계정으로 시작하기</h2>
    <ul>
        <li>
            <a title="Naver" href="/accounts/naver/login/?process=login">Naver</a>
        </li>
        <li>
            <a title="Google" href="/accounts/google/login/?process=login">Google</a>
        </li>
    </ul>

    <script>
        (function() {
            const ua = navigator.userAgent || navigator.vendor || window.opera;
            const isInApp = (
                ua.indexOf("KAKAOTALK") > -1 ||
                ua.indexOf("Instagram") > -1 ||
                (ua.indexOf("FBAN") > -1) || 
                (ua.indexOf("FBAV") > -1)
            );

            if (isInApp) {
                const currentURL = window.location.href;
                const cleanURL = currentURL.replace(/^https?:\/\//, '');
                
                // Chrome으로 리다이렉션
                location.href = `googlechrome://` + cleanURL;
                
                // iOS Safari fallback
                setTimeout(function() {
                    location.href = `safari-https://` + cleanURL;
                }, 100);
            }
        })();
    </script>
{% endblock %}