{% load static %}
<link rel="stylesheet" href="{% static 'closet/css/recommendation_section.css' %}">
<div class="recommendation-section" style="display: none;">
    <div id="recommendation-content">
        <!-- 여기에 추천 결과가 동적으로 삽입됩니다 -->
    </div>
    <div class="cody-loading" id="recody-loading" style="display: none;">
        <div class="spinner"></div>
        <span>코디를 추천중입니다. 잠시만 기다려주세요...</span>
    </div>
    <button id="retry-cody">코디 다시 추천받기</button>
</div>
<script>
document.getElementById("retry-cody").onclick = function() {
    document.getElementById("get-cody").click();
};
</script>
<style>
#retry-cody{
margin:10px auto;
display: flex; /* 플렉스박스 사용 */
align-items: center; /* 세로 중앙 정렬 */
justify-content: center;
width: 10.5625rem;
height: 2.3125rem;
background-color: black;
color: white;
border-radius: 20px;
cursor: pointer;
font-family: Inter;
font-size: 0.75rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
#cody-loading{  
margin-top: 10px;
display: flex; /* 플렉스박스 사용 */
align-items: center; /* 세로 중앙 정렬 */
justify-content: center;

}
#retry-cody:disabled {
display: none;
}
</style>
