{% load static %}
<div id="upload-and-result-section">
  <div class="upload-section" id="upload-section">
    <h2>옷 사진을 올리면 <br />AI가 나머지 착장을 추천해줘요.</h2>

    <!-- 미리보기 및 업로드 섹션 -->
    <hr />
    <div class="preview-container" id="preview-container">
      <img id="preview-image" class="preview-image" />
      <img
        id="image-preview-icon"
        src="{% static 'images/image_upload.svg' %}"
        alt="Upload Icon"
      />
      <div class="upload-controls" id="upload-controls">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div id="file-input-container">
            <input
              type="file"
              name="image"
              id="id_image"
              accept="image/*"
              onchange="previewImage(this);"
            />
            <label for="id_image" id="custom-upload-btn"
              >이미지 업로드하기</label
            >
            <button
              type="submit"
              class="upload-btn"
              id="upload-btn"
              style="display: none"
            >
              AI 옷 분석 결과 확인하기
            </button>
          </div>
        </form>
        <div class="result-section" id="result-section" style="display: none">
          <div class="cody-loading" id="cody-loading" style="display: none">
            <div class="spinner"></div>
            <span>코디를 추천중입니다. 잠시만 기다려주세요...</span>
          </div>
          <h3>분석 결과:</h3>
          <pre id="result"></pre>
          
          <button id="get-cody" class="recommendation-btn">
            코디 추천받기
          </button>
        </div>

      </div>
    </div>
    <div id="product-comment">
      <pre id="product-comment-tag"></pre>
    </div>
    <!-- 이미지 분석 중 로딩 표시 -->
    <div class="loading" id="loading" style="display: none">
      <div class="spinner"></div>
      <span>이미지를 분석중입니다. 잠시만 기다려주세요...</span>
    </div>
    <div id=show-category-slide-section>
      <button id="show-category-slide" style="display: none">
        나만의 옷장에 저장하기
      </button>
    </div>
  </div>
</div>
<hr />

<style>
    /* 전체 컨테이너 */
    #upload-and-result-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
   
    }
    .preview-container {
    display: flex;

    text-align: center;
    margin-bottom: 15px;
    }
    .upload-section{
        display: flex;
        flex-direction: column;
        flex-grow: 1; /* 남은 공간 차지 */
        gap: 10px;
        padding: 15px;
        background: white;
        border-radius: 10px;
    
        box-sizing: border-box;
    }
    .result-section {
        display: flex;
        flex-direction: column;
        flex-grow: 1; /* 남은 공간 차지 */
        gap: 10px;
        padding: 15px;
        background: white;
        border-radius: 10px;
        width: 350px;
        box-sizing: border-box;
    }
    .product-comment {
        word-wrap: break-word;  /* 긴 단어가 있으면 줄바꿈 */
        word-break: break-word; /* 자동 줄바꿈 */
        overflow-wrap: break-word; /* 줄바꿈 유지 */
        white-space: normal;  /* 기존 nowrap이 적용되었을 가능성 차단 */
        max-width: 100%;  /* 부모 컨테이너 내에서 넘치지 않도록 설정 */
        flex-direction: column;
    }
    .result-section{
        width: 100%;
    }



    /* 카테고리 정보 */
    .result-section {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .result-section p {
        font-size: 14px;
        display: flex;
        
    }

    .result-section .bold {
        font-weight: bold;
        margin-right: 8px;
    }



    /* 코디 추천받기 버튼과 추천 로딩바를 화면 하단 중앙에 고정 */
    #get-cody, #cody-loading {
      position: fixed;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;  
    }
    #get-cody:disabled {
    display: none;
    }

</style>
