{% extends "base.html" %} {% load static %} {% block content %}
<!-- 줄바꿈 유지 -->
{% include 'closet/home/slide_weather.html' %}<!-- 줄바꿈 유지 -->
{% include "closet/input_components/weather_section.html" %}

<div class="container">
  <h1>나만의 옷장을 확인해 보세요.</h1>
  <hr />
  <h1>{{ category_name }}</h1>
  <hr />
  <p
    style="font-size: 12px; color: gray; text-align: right; margin-bottom: 10px"
    onclick="showDeleteButton()"
  >
    옷 삭제하기
  </p>
  <div class="items-container">
    {% for item in items %}
    <div class="outfit-wrapper" id="outfit-{{ item.outfit_id }}">
      <a
        class="delete-button"
        data-id="{{ item.outfit_id }}"
        onclick="deleteOutfit(this)"
      >
        <img src="{% static 'images/mycloset/deleteButton.svg' %}" />
      </a>
      <a class="item">
        <img
          class="outfit-image"
          src="{{ item.image }}"
          alt="Outfit Image"
          onclick="goToInputPage({{ item.outfit_id }})"
        />
      </a>
    </div>
    {% empty %}
    <p>이 카테고리에 등록된 아이템이 없습니다.</p>
    {% endfor %}
  </div>

  <a href="/mycloset/">◀ 내 옷장으로 돌아가기</a>
</div>
{% include 'closet/input_components/mycloset_categories.html' %}<!-- 줄바꿈 유지 -->
{% endblock %} {% block extra_css %}
<script>
  // ✅ 페이지 이동
  function goToInputPage(outfitId) {
    window.location.href = `/api/outfit/${outfitId}/`;
  }
</script>

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'closet/css/mycloset_category_detail.css' %}"
/>
{% endblock %} {% block extra_js %}
<script src="{% static 'closet/js/mycloset/category_detail.js' %}"></script>
{% endblock extra_js %}
