/* 상단과 하단 내비바 숨기기 */
.bottom-nav {
  display: none !important;
}

nav {
  display: none !important;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  padding-inline: 3rem;
}

.login-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0 auto 40px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-wrapper li {
  line-height: 1.4;
  position: relative;
  padding-left: 24px;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.login-wrapper li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
  opacity: 0.1;
}

.login-wrapper h3 {
  font: var(--font-title-1);
  word-break: keep-all;
  color: #454347;
}
.logo {
  width: 8.3rem;

  flex-shrink: 0;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 13rem;
  box-sizing: border-box; /* padding을 높이에 포함 */
}

.login-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 300px;
}

.login-button {
  width: 98%;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--color-gray-light);
  color: var(--color-gray-darkest);
  transition: background-color 0.2s;
}
.login-button span {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
}

#naver-login {
  background-color: #03c75a;
  color: white;
}

#google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

#google-login > img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

#naver-login img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.tryme {
  width: 300px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a39fa6;

  /* font-semi-title-1 */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 180%; /* 1.575rem */
  text-decoration: underline;
  text-underline-position: under;
}

.tryme:hover {
  color: var(--color-gray-darkest);
  cursor: pointer;
}

.arrow {
  padding-top: 1rem;
  width: 2.5rem;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.arrow {
  animation: bounce 1s infinite ease-in-out;
}

.introduce-container {
  background: linear-gradient(
    0deg,
    #000 64.97%,
    #7b7b7b 78.97%,
    #898989 81.97%,
    #949494 86.47%,
    #fff 99.11%
  );
  min-height: 100rem;
  width: 100%;
  margin-top: 1rem;
  z-index: 10;
}
.top-wrapper {
  padding-block: 11rem;
  padding-left: 2rem;
}
h1 {
  color: #fff;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  overflow-wrap: normal;
}
.highlight-font {
  color: #6c5044;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 180%;
  overflow-wrap: normal;
}
.circle {
  margin-top: 2rem;
  background: linear-gradient(
    180deg,
    #1d1d1d 0%,
    #010101 11.97%,
    #000 21.98%,
    #010101 27.91%,
    rgba(54, 57, 37, 0.98) 68.97%
  );
  width: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  transform: translate(-3rem, 5rem);
}
.text-border-container {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.22) 0%,
    rgba(41, 44, 50, 0.4) 2.97%,
    rgba(45, 48, 54, 0.85) 18.47%,
    rgba(50, 54, 61, 0.89) 32.97%,
    #404650 44.72%,
    rgba(137, 144, 162, 0.75) 65.42%,
    rgba(220, 229, 255, 0.46) 81.57%
  );
  width: 78%;
  height: 16.47438rem;
  border-radius: 7.5rem 0rem 0rem 7.5rem;
  transform: translate(6rem, -25rem);
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  padding-inline: 1rem;
}
.iphone {
  width: 100%;
  margin-bottom: 5rem;
}
.circle2 {
  aspect-ratio: 1 / 0.6;
  border-radius: 0 0 130% 130%;
  width: 100%;
  background: linear-gradient(
    180deg,
    #000 36%,
    #4a4a4a 64.97%,
    #5a5a5a 73.97%,
    rgba(102, 102, 102, 0.88) 83.72%,
    #a5a4a7 89.68%,
    #ece8f0 96.47%
  );
  transform: translate(0, -5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-text {
  width: 70%;
}
