/* 전체 섹션 스타일 */
.recent-recommendation {
  margin: 20px 0;
  padding: 20px;
  font-family: var(--font-family);
}
.recent-recommendation h2:nth-child(1) {
  color: var(--color-gray-darkest);
  font: var(--font-title-1);
  text-align: center;
}
h3 {
  color: var(--color-gray-darkest);
  font: var(--font-title-1);
}

/* 추천 내용 컨테이너 */
.recommendation-content {
}

/* 설명 텍스트 숨기기 */
.recommendation-content > p,
.recommendation-content > strong,
.recommendation-content li > p {
  display: none;
}

/* 그리드 레이아웃 */
.recommendation-content > ul {
  all: unset;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.item-description {
  color: var(--color-gray-dark);
  font: var(--font-button-1);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 4px 0px #eaeaea;
  border-radius: 1rem;
}
.item-container {
  padding-inline: 0.5rem;
  display: grid;
  justify-content: center;
}

.item-title {
  width: 90%;
  height: 70px;
}
.item-container a:nth-child(2) {
  min-width: 90%;
  overflow: hidden;
  border-radius: 1rem;
  aspect-ratio: 1 / 1.2;
  box-shadow: 4px 4px 4px 0px #ece8f0;
}
/* 아이템 컨테이너 */
.recommendation-content li {
  color: var(--color-gray-darkest);
  font: var(--font-title-2);
  display: grid;
  grid-template-rows: 1fr 10fr;
}

/* 이미지 컨테이너 */
.recommendation-content .img-container {
  height: 100%;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 이미지 스타일 */
.recommendation-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover; /* 비율 유지하며 컨테이너 채우기 */
  object-position: center; /* 이미지 중앙 정렬 */
  object-fit: cover; /* 비율 유지하며 컨테이너 채우기 */
  object-position: center; /* 이미지 중앙 정렬 */
}

/* 링크 스타일 */
.recommendation-content a:nth-child(1) {
  color: var(--color-blue);
  text-decoration: none;
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-3);
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box; /* 패딩을 너비에 포함 */
}

#bottom-btn {
  margin-top: 2rem;
  width: 270px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

@media (max-width: 400px) {
  .item-title {
    height: 5rem;
  }

  .item-description {
    height: 12rem;
  }
}
