{% extends "base.html" %}
{% load static %}
{% block content %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/login.css' %}"/>
{% endblock extra_css %}

<div class="login-wrapper">
    <h1>AI를 활용한 코디 추천 서비스 코디나우</h1>
    <h2>코디나우는 LLM과 RAG을 활용한 혁신적인 패션 코디네이터 서비스입니다. 당신의 옷장을 스마트하게 관리하고, 매일 새로운 스타일을 제안받아보세요.</h2>
    <ul>
        <li>AI 기반 맞춤형 코디 추천</li>
        <li>날씨 기반 옷차림 제안</li>
        <li>디지털 옷장 서비스</li>
    </ul>
    <h3>로그인 후 나만의 AI 코디<br>추천 결과를 확인해보세요!</h3>
    <div class="login-container">
    <section class="login-buttons">
        <div
            class="login-button"
            id="google-login"
            onclick="location.href='/accounts/google/login/?process=login'">
            <img src="{% static 'images/google_logo.svg' %}" alt="구글 로고">
            <span>구글로 시작하기</span>
        </div>
        <div
            class="login-button"
            id="naver-login"
            onclick="location.href='/accounts/naver/login/?process=login'">
            <img src="{% static 'images/naver_logo.svg' %}" alt="네이버 로고">
            <span>네이버로 시작하기</span>
        </div>
        <div class="tryme" onclick="location.href='{% url 'closet:test_input_page' %}'">
            로그인 없이 체험하기
        </div>
        </section>
    </div>
</div>
{% endblock %}
<script>
    (function() {
        const ua = navigator.userAgent || navigator.vendor || window.opera;
        const isInApp = (
            ua.indexOf("KAKAOTALK") > -1 ||
            ua.indexOf("Instagram") > -1 ||
            (ua.indexOf("FBAN") > -1) || 
            (ua.indexOf("FBAV") > -1)
        );

        if (isInApp) {
            const currentURL = window.location.href;
            const cleanURL = currentURL.replace(/^https?:\/\//, '');
            
            // Chrome으로 리다이렉션
            location.href = `googlechrome://` + cleanURL;
            
            // iOS Safari fallback
            setTimeout(function() {
                location.href = `safari-https://` + cleanURL;
            }, 100);
        }
    })();
</script>

