{% extends "base.html" %}

{% block content %}

{% comment %}테스트를 위해 임시로 만든 페이지{% endcomment %}
<body>
    {% if user.is_authenticated %}
        <h1>Welcome to the Dashboard, {{ user.nickname }}!</h1>
        <button onclick="location.href='{%url 'closet:upload_outfit'%}'">Start closet</button>
        <button onclick="location.href=''">closet History</button>
        <button onclick="location.href='{% url 'user:edit_profile' %}'">프로필 수정</button>
    {% else %}
        <h1>Welcome to the closet!</h1>
        <button onclick="location.href='{% url 'user:login' %}'">Start Playing</button>
    {% endif %}
</body>
</html>
{% endblock %}