{% extends 'base.html' %} {% load static %}

{% block title %}History Recommendation{%endblock title %}

{% block content %}
{% include 'closet/home/slide_weather.html' %}<!-- 줄바꿈 유지 -->
{% include "closet/input_components/weather_section.html" %}<!-- 줄바꿈 유지 -->

{% include 'closet/input_components/error_section.html' %}
  <!-- 옷 이미지 표시 (이미지 필드가 있는 경우) -->
  <!-- {% if outfit.image %}
    <img src="{{ outfit.image.url }}" alt="Outfit Image" style="max-width:300px;">
  {% elif outfit.image_url %}
    <img src="{{ outfit.image_url }}" alt="Outfit Image" style="max-width:300px;">
  {% endif %} -->


  <!-- 이미지 분석 결과 출력 -->



<!-- 줄바꿈 유지 -->
<div id="recommendation_section_container" style="display: none">
  {% include 'closet/input_components/recommendation_section.html' %}
</div>

  <h2>이미지 분석 결과</h2>

  <div class="preview-container" id="preview-container">
    
    {% if outfit.image %}
    <img id="preview-image" class="preview-image" src="{{ outfit.image.url }}" alt="Outfit Image">
    {% elif outfit.image_url %}
      <img src="{{ outfit.image_url }}" alt="Outfit Image">
    {% endif %}      

    <div class="result-section" id="result-section" style="display: block;">
      <div class="info-containser">
        <div class="tags">
            {{tag}}
        </div>
        <div class="show-result-section">
          <p><span>Category</span>{{ category }}</p>
          <p><span>Fit</span>{{ fit }}</p>
          <p><span>Season</span>{{ season }}</p>
          <p><span>Style</span>{{ design_style }}</p>
          <p><span>Detail</span>{{ detail }}</p>
        </div>
      </div>

      </div>
  </div>

  <div id="product-comment">
    <span>Product Comment</span>
    <p id="product-comment-tag">{{ overall_design }}</p>
  </div>

  
  <div class="recommendation-section" style="display: block;">
    <div id="recommendation-content">
        {% if recommendations %}
        <ul>
          {% for rec in recommendations %}
            <li>
              <!-- html_content를 safe 필터로 렌더링 -->
              <div>{{ rec.html_content|safe }}</div>
            </li>
          {% endfor %}
        </ul>
        {% else %}
          <p>이 옷에 대한 코디 추천 기록이 없습니다.</p>
        {% endif %}
    </div>
  </div>

  
  
{% endblock content%}

{% block extra_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'closet/css/input.css' %}"
/>

<link rel="stylesheet" href="{% static 'closet/css/recommendation_section.css' %}">

{% endblock extra_css %}