{% extends 'base.html' %} {% load static %}
<!-- 줄바꿈 유지 -->
{% block title %}Upload Image{%endblock title %}
<!-- 줄바꿈 유지 -->
{% block content %}<!-- 줄바꿈 유지 -->
{% include 'closet/input_components/weather_section.html' %}<!-- 줄바꿈 유지 -->
{% include 'closet/input_components/test_upload_section.html' %}<!-- 줄바꿈 유지 -->
{% include 'closet/input_components/recommendation_section.html' %}
{% include 'closet/input_components/error_section.html' %} {% endblock content%}
<!-- 줄바꿈 유지 -->
{% block extra_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'closet/css/input.css' %}"
/>
{% endblock extra_css %}
<!-- 줄바꿈 유지 -->
{% block extra_js %}
<script>
  const genCodyUrl = "{% url 'closet:gen_cody' %}";
  const weatherApiUrl = "{% url 'closet:get_weather_data' %}";
</script>
<script src="{% static 'closet/js/utils.js' %}"></script>
<script src="{% static 'closet/js/preview.js' %}"></script>
<script src="{% static 'closet/js/test_analysis.js' %}"></script>
<script src="{% static 'closet/js/recommendation.js' %}"></script>
<script src="{% static 'closet/js/weather.js' %}"></script>
{% endblock extra_js %}